/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Eater&family=Kalam:wght@400;700&display=swap');

/* Global styles */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background: #000;
    font-family: 'Kalam', cursive;
    font-size: 1.25rem;
    color: #fff;
}

header {
    text-align: center;
    margin: 20px 10px;
}

h1 {
    font-family: 'Eater', cursive;
}

.btn {
    width: 150px;
    margin: 5px;
    padding: 5px;
    background: #000;
    border: 2px solid #fff;
    border-radius: 10px;
    font-family: 'Kalam', cursive;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
}

.btn:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    margin: 20px 10px;
    font-size: 1rem;
    line-height: 20px;
}

/* landing area styles */

#landing-header h1 {
    font-size: 3.25rem;
    color: #ff0000;
    line-height: 100%;
}

#landing-header h3 {
    font-size: 1.75rem;
    color: #54E014;
}

/* landing area buttons */

#landing-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#start-btn {
    width: 200px;
    background: #fff;
    font-family: 'Eater', cursive;
    font-size: 1.5rem;
    color: #000;
}

/* meet the monsters section */

#all-monsters {
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

#all-monsters h3 {
    margin-top: 20px;
}

#all-monsters a {
    color: #fff;
}

.monster-table td {
    padding: 5px;
    font-family: 'Eater', cursive;
    font-size: 1rem;
}

.monster-table th:nth-of-type(3), .monster-table td:nth-of-type(3) {
    display: none;
} 

.monster-table img {
    width: 150px;
}

/* rules section */

#rules {
    margin: 30px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

#rules ol {
    list-style: none;
    text-align: center;
}

.rules-weapon-img {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.rules-weapon-img img {
    height: 75px;
    margin: 2.5px;
}

/* main game section */

#game-header h3 {
    font-family: 'Eater', cursive;
    color: #ff0000;
    font-weight: 400;
}

/* restart and quit buttons */

#arena-btns {
    display: flex;
    justify-content: center;
}

/* scores */

#score-area {
    margin: 5px 20px;
    display: flex;
    justify-content: space-between;
}

.scores {
    font-family: 'Eater', cursive;
    font-weight: 400;
}

#level, #attacks {
    font-family: 'Kalam', cursive;
    font-size: 2rem;
    font-weight: 700;
}

#level {
    color: #54E014;
}

#attacks {
    color: #ff0000;
}

/* game message section */

#arena-message {
    margin: 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.monster-name {
    font-family: 'Eater', cursive;
}

/* arena */

.arena-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* monster details */

#monster-img {
    margin: 10px 0;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#monster-weakness {
    display: none;
}

/* weapons buttons */

#weapons-list h4 {
    font-family: 'Eater', cursive;
    font-weight: 400;
    color: #54E014;
}

.weapon {
    margin: 2.5px 10px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weapon p {
    width: 250px;
    font-size: 1.25rem;
    text-align: center;
}

.weapon img {
    width: 50px;
    justify-self: flex-end;
}





/* media queries */

/* for screens less than 640 pixels wide */
@media screen and (max-width: 639px) {

    /* rules section */
    .rules-weapon-img img {
        height: 42.5px;
    }

    /* main game section */

    .scores {
        font-size: 1rem;
    }

    #level, #attacks {
        font-size: 1.5rem;
    }

    /* footer */
    footer {
        font-size: 0.75rem;
    }
}


